.dropdownButton {
    background-color: #00c08b;
    border: none;
    outline: none;
    cursor: pointer;
    color: #127a5d;
    font-size: 24px;
    padding: 10px;
}

.dropdownButton:hover {
    background-color: #127a5d;
    color: #ff0000;
}

.dropdownButton:before {
    font-family: "FontAwesome";
    margin-right: 10px;
}

.dropdownMenu {
    position:fixed;
    top: 9.5rem;
    right: 1.5rem;
    padding: 15px;
    border-radius: 15px;
    background-color: rgb(255, 0, 0);
    border: 1px solid gray;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdownMenu::before {
    /* content: "\f0c9"; */
    font-family: "FontAwesome";
    position: absolute;
    top: -0.7rem;
    right: 1.1rem;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background-color: white;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
}

.dropdownMenu li {
    display: flex;
    color: #121111;
    align-items: center;
    padding: 10px;
}

.dropdownMenu li a {
    color: #000;
    font-size: 16px;
    text-decoration: none;
    margin-left: 5px;
}

.dropdownMenu li a:hover {
    color: #127a5d;
}